<html>
    <head>
        <meta charset="UTF-8">
        <title>HGI Treeserve</title>
    </head>
    <body>
        <h1>Treeserve API documentation</h1>
        <p>Available routes:</p>
        <ul>
            <li>
                <pre>/api</pre>
                <p>Parameters:</p>
                <ul>
                    <li>
                        <pre>depth</pre>
                        <p>Non-negative integer</p>
                    </li>
                    <li>
                        <pre>path</pre>
                        <p>POSIX path</p>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>
